.container {
  position: relative;
  padding: 10px;
}

.btn {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 5px 10px;

  background-color: transparent;
  color: ghostwhite;

  border: 2px solid ghostwhite;
  border-radius: 5px;

  cursor: pointer;
}

.h3 {
  text-align: center;
  color: ghostwhite;
}

.link_list {
  color: ghostwhite;
  padding: 0px;

  & li {
    text-align: center;

    &:first-child {
      margin-bottom: 10px;
    }
  }
}
